/* Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Configuraciones generales */
*{
    font-family: "Montserrat", sans-serif;
}

.app{
    width: 430px;
    height: 932px;
    background: linear-gradient(#AD9B8D, #09080E);
    margin: 0 auto;
    border-radius: 30px;
    padding: 80px 40px 40px 40px;
}

.app .top-bar{
    justify-content: space-between;
    display: flex;
}

.app .top-bar button{
    width: 53px;
    height: 57px;
    border-radius: 50%;
    background: #0000003a;
    border: none;
    color: #fff;
}

.top-bar h2{
    font-size: 20px;
    padding: 15px 0 0 0;
    color: #fff;

}

.app .cont-foto{
    width: 311px;
    height: 311px;
    border-radius: 50%;
    border: 2px solid #ad9b8d;
    margin: 0 auto;
    margin-top: 40px;
}

.app .cont-foto img{
    background-size: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.app .titulo-cancion{
    text-align: center;
    padding: 40px 0 0 0;
    font-weight: 400;
    color: #fff;
    font-size: 30px;
}

.app h3{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.progress-container {
  width: 100%;
  margin: 0 auto;
  padding: 176px 0 0 0;
}

/* Línea del fondo */
.progress-bar {
  -webkit-appearance: none; /* quita el estilo por defecto */
  width: 100%;
  height: 3px; 
  background: #39383F; 
  outline: none;
  overflow: visible;
}

/* Línea que ya ha sido “reproducida” */
.progress-bar::-webkit-slider-runnable-track {
  height: 4px;
  background: linear-gradient(to right, #c7d24b var(--value, 25%), #333 0%);
}

/* Bolita del slider */
.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #c7d24b; 
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px; 
}

.app .minutos{
    display: flex;
    justify-content: space-between;
}

.app .minutos p{
    color: #fff;
    font-size: 14px;
}

.app .botones{
    display: flex;
    justify-content: space-between;
}

.app .botones .btn1{
    border: none;
    font-size: 25px;
    background: transparent;
    color: #fff;
}

.app .botones .btn2{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #1c1b29;
    color: #fff;
    font-size: 25px;
    border: none;
}

.app .botones .btn3{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: none;
    background: #c4da47;
    font-size: 35px;
}













